.align-centerwhite{
  
  text-align:center;
  color: #FFFFFF; 
  font-weight: normal;
  padding-top: 200px;
}

.align-twitter{
  text-align:center;
  color: #FFFFFF; 
  font-weight: normal;
}
.red{
	color:#96F3F5;
	font-weight: normal;
}

.font{
	text-align: center;
	font-family: "Arial", sans-serif;
	color: black;
	font-style: bold;
	font-size: 150px;

}

.twitter-share-button  {

	vertical-align: text-bottom; 

}


body
{
	background-image:url("bg-9-full.jpg");
	background-repeat:repeat;
	background-size: cover;
}

#footer {
	top: 160;
    position: fixed;
    bottom: 250;
    width: 100%;
    margin: 10 auto;
}


#footertwitter {

    position: fixed;
    top: 360;
    bottom: 250;
    width: 100%;
    margin: 10 auto;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:active {text-decoration:none;}